.container{
    width: 20%;
    padding-top: 6rem;
    margin-top: 5rem;
    height: calc(100vh - 5rem);
    background-color: antiquewhite;
}

@media screen and (max-width: 650px){
    .container{
        display: none;
    }
}