* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lexend", "Roboto", sans-serif;
  color: #1b1b32;
}
* a {
  text-decoration: none;
  display: block;
  color: black;
}
.app {
  width: 100%;
  min-height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}
