.logoSection {
  /* border: 1px red solid; */
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 1.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.logoSection .logoBox {
  /* border: 1px red solid; */
  width: 100%;
  max-width: 12rem;
  height: 3rem;
  margin: 0 auto;
  cursor: pointer;
}
.logoBox img {
  width: 100%;
  height: 100%;
}
/* .logoSection .titleBox {
  border: 1px red solid;
} */
.titleBox .title {
  /* border: 1px red solid; */
  width: 100%;
  max-width: 70%;
  margin: 0 auto;
  font-size: 2.3rem;
  text-align: center;
  margin-bottom: 2rem;
}
.titleBox .subTitle {
  /* border: 1px red solid; */
  font-size: 1.7rem;
  text-align: center;
}
.logoSection .mediaBox {
  /* border: 1px red solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.mediaBox .iconBox {
  /* border: 1px red solid; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.iconBox .link {
  display: block;
  /* border: 1px red solid; */
  width: 1.5rem;
  height: 1.5rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media screen and (max-width: 1100px) {
  .logoSection {
    display: none;
  }
}
