.container {
  /* border: 1px red solid; */
  width: 100%;
  height: 100vh;
  /* padding: 3rem 0; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 3rem; */
}

.logoSection {
  /* border: 1px red solid; */
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 1.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.logoSection .logoBox {
  /* border: 1px red solid; */
  width: 100%;
  max-width: 12rem;
  height: 3rem;
  cursor: pointer;
}
.logoBox img {
  width: 100%;
  height: 100%;
}
/* .logoSection .titleBox {
  border: 1px red solid;
} */
.titleBox .title {
  /* border: 1px red solid; */
  width: 100%;
  max-width: 70%;
  margin: 0 auto;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
}
.titleBox .subTitle {
  /* border: 1px red solid; */
  font-size: 2rem;
  text-align: center;
}
.logoSection .mediaBox {
  /* border: 1px red solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.mediaBox .iconBox {
  /* border: 1px red solid; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.iconBox .link {
  display: block;
  /* border: 1px red solid; */
  width: 1.5rem;
  height: 1.5rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.formSection {
  /* border: 1px red solid; */
  height: 100%;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formSection .applicationBox {
  /* border: 1px red solid; */
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;
  margin-bottom: 2rem;
}
.formSection .applicationBox h2 {
  text-transform: capitalize;
  font-size: 1.8rem;
  color: #1b1b32;
}
.formSection .applicationBox p {
  /* text-transform: capitalize; */
  font-size: 1.2rem;
  color: #1b1b32;
}
.formSection .mobileHeading {
  display: none;
}

.formBox {
  /* border: 1px red solid; */
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.termsBox {
  /* border: 1px red solid; */
  width: 100%;
  line-height: 1.8rem;
  font-size: 0.8rem;
  text-align: center;
}
.termsBox span {
  /* border: 1px red solid; */
  display: inline;
  color: #4a4af2;
  cursor: pointer;
}

@media screen and (max-width: 1400px) {
  .titleBox .title {
    font-size: 2rem;
  }
  .titleBox .subTitle {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1100px) {
  .logoSection {
    display: none;
  }
  .formSection {
    height: 100%;
    width: 100%;
  }
  .formSection .applicationBox {
    display: none;
  }
  .formSection .mobileHeading {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* border: 1px red solid; */
    width: 90%;
    margin-bottom: 2rem;
  }
  .mobileHeading .logoBox {
    width: 10rem;
    /* border: 1px red solid; */
    margin: 0 auto;
    margin-bottom: 4rem;
  }
  .mobileHeading .mobileTitle {
    /* border: 1px red solid; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
  .mobileHeading .mobileTitle h2 {
    text-transform: capitalize;
    font-size: 1.5rem;
  }
  .mobileHeading .mobileTitle p {
    font-size: 1rem;
  }
  .formBox {
    /* border: 1px red solid; */
    width: 90%;
  }
}
