.unordered li {
  list-style: none;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}
.question {
  width: 100%;
  /* border: 1px red solid; */
  color: rgba(27, 27, 50, 0.8);
  padding: 1rem 0;
  font-size: 1.3rem;
  font-weight: bolder;
  font-family: "Ubuntu", "Lexend", sans-serif;
  /* text-align: justify; */
}
.answer {
  width: 100%;
  /* border: 1px red solid; */
  color: #1b1b32;
  padding: 0.5rem 0;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: justify;
}
@media screen and (max-width: 750px) {
  .question {
    font-size: 1.1rem;
    padding: 0.7rem 0;
  }
  .answer {
    font-size: 1rem;
  }
}
