.container {
  /* border: 1px red solid; */
  width: 100%;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 2;
  /* border-bottom: 2px #1b1b32 solid; */
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  background-color: #fff;
}
.remove {
  display: none;
}
.wrapper {
  width: 100%;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logoBox {
  width: 100%;
  max-width: 10rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoBox img {
  width: 100%;
  height: 100%;
}
.linkBox {
  /* border: 1px red solid; */
  width: 100%;
  max-width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 2rem; */
}
.option {
  /* border: 1px red solid; */
  width: 100%;
  max-width: max-content;
  padding: 0 1rem;
  color: #1b1b32;
  text-transform: capitalize;
  font-size: 1.1rem;
  text-align: center;
  /* transition: all 0.5s ease-in-out; */
  cursor: pointer;
}
.trackOptions {
  /* border: 1px red solid; */
  width: 100%;
  max-width: max-content;
  padding: 0 1rem;
  color: #1b1b32;
  text-transform: capitalize;
  font-size: 1.1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  user-select: none;
}
/* .trackOptions:hover .trackBox {
  display: flex;
} */
.trackLink {
  font-size: 0.9rem;
  text-transform: capitalize;
  padding: 0.3rem;
  /* padding-left: 0.5rem; */
  text-align: center;
}
.trackLink:hover {
  background: #f9a12e;
  color: white;
}
.active {
  font-weight: 700;
}
.loginBox {
  width: 100%;
  max-width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register {
  background-color: #1b1b32;
  padding: 0.7rem 1rem;
  border-radius: 3rem;
  color: #fff;
  text-transform: capitalize;
  font-size: 1.3rem;
}
.trackBox {
  /* border: 1px red solid; */
  width: 100%;
  max-width: 10rem;
  background-color: whitesmoke;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: fixed;
  top: -10rem;
  left: 44.5%;
  padding: 1rem 0;
  z-index: 1;
  transition: all 0.5s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.showOptions {
  top: 5.3rem;
}
@media screen and (max-width: 1200px) {
  .container {
    display: none;
  }
}
