.container{
    background-color: antiquewhite;
    height: 80vh;
    width: 90%;
    display: none;
    margin-top: 6rem;
}
@media screen and (max-width: 650px){
    .container{
        display: block;
        transition: 0.4s all ease-in;
    }
    .hide{
        transform: translateX(-110%);
    }
}