.container{
    position: absolute;
    background-color: antiquewhite;
    height:calc(100vh - 5rem);
    width: 80%;
    display: none;
    margin-top: 5rem;
    z-index: 50;
}
@media screen and (max-width: 650px){
    .container{
        display: block;
        transition: 0.4s all ease-in;
    }
    .hide{
        transform: translateX(-110%);
    }
}